.articuloPrimario {
    background-color: rgb(132, 68, 68);
    padding: auto;
    color: rgb(255, 255, 255);
}

div {
    background-color: rgb(231, 163, 163);
    padding: auto;
    color: rgb(0, 0, 0);
    font-family: 'Courier New', Courier, monospace;
}
.articuloDos {
    background-color: rgb(228, 93, 93);
    padding: auto;
    color: blueviolet;
    font-family: 'Courier New', Courier, monospace;
}
.articuloUltimo {
    background-color: rgb(196, 228, 93);
    padding: 10px 10px ;
    color: rgb(2, 2, 2);
    font-family: 'Courier New', Courier, monospace;
}